{% include 'header.twig' %}

{{ navigation|raw }}
<script type="text/javascript">
  $(document).ready(function() {
    $(".cledit").cleditor();
  });
</script>

<div id="content" class="span9">
    <div>
        <ul class="breadcrumb">
            <li>
                <h3>My Account</h3>
            </li>
        </ul>
    </div>
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header well" data-original-title="">
                <h2><i class="icon-edit"></i> Edit info</h2>
            </div>
            <div class="box-content">
                {% if logged %}
                {% if success %}
                <div class="alert alert-success">
                    <strong>Well done !</strong> Your account information is now online.
                </div>
                {% endif %}
                {% for error in errors %}
                <div class="alert alert-error">
                    <strong>Error!</strong> {{ error }}
                </div>
                {% endfor %}
                <form class="form-horizontal" method="post" action="account.php">
                <fieldset>
                    <legend>Personal info</legend>
                    <div class="control-group">
                      <label class="control-label">Tee name </label>
                      <div class="controls">
                        <input type="text" name="tee" class="span6" value="{{ tee }}">
                      </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label" for="textarea2">Presentation</label>
                      <div class="controls">
                          <textarea class="cledit" name="teetxt">{{ teetxt }}</textarea>
                       </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Statistics</label>
                        <div class="controls">
                          <label class="checkbox inline">
                            <div class="checker" id="uniform-inlineCheckbox1">
                                <span class="checked">
                                    <input type="hidden" name="teemods" value="0" />
                                   <input type="checkbox" id="inlineCheckbox1"
                                          name="teemods" value="1" style="opacity:0;"
                                           {% if teemods %} checked="checked" {% endif %}>
                                </span>
                            </div> Mods
                          </label>
                          <label class="checkbox inline">
                            <div class="checker" id="uniform-inlineCheckbox2"><span class="checked">
                                <input type="hidden" name="teemaps" value="0" />
                                <input type="checkbox" id="inlineCheckbox2" name="teemaps" value="1"
                                       style="opacity: 0;"
                                        {% if teemaps %} checked="checked" {% endif %}>
                            </span>
                            </div> Maps
                          </label>
                            <label class="checkbox inline">
                              <div class="checker" id="uniform-inlineCheckbox3">
                                  <span class="checked">
                                      <input type="hidden" name="teehours" value="0" />
                                      <input type="checkbox" name="teehours" id="inlineCheckbox3" value="1"
                                             style="opacity: 0;"
                                              {% if teehours %} checked="checked" {% endif %}>
                                  </span></div> Hours
                            </label>
                            <label class="checkbox inline">
                              <div class="checker" id="uniform-inlineCheckbox3">
                                  <span class="checked">
                                      <input type="hidden" name="teedays" value="0" />
                                      <input type="checkbox" name="teedays" id="inlineCheckbox3" value="1"
                                             style="opacity: 0;"
                                              {% if teedays %} checked="checked" {% endif %}>
                                  </span></div> Days
                            </label>
                        </div>
                      </div>

                    <legend>Clan info</legend>

                    <div class="control-group">
                      <label class="control-label">Clan name </label>
                      <div class="controls">
                        <input type="text" class="span6" name="clan" value="{{ clan }}" />
                      </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label" for="textarea2">Presentation</label>
                      <div class="controls">
                          <textarea class="cledit" name="clantxt">{{ clantxt }}</textarea>
                       </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Statistics</label>
                        <div class="controls">
                          <label class="checkbox inline">
                            <div class="checker" id="uniform-inlineCheckbox1">
                                <span class="checked">
                                    <input type="hidden" name="clanmods" value="0" />
                                   <input type="checkbox" name="clanmods" id="inlineCheckbox1" value="1"
                                          style="opacity:0;"
                                           {% if clanmods %} checked="checked" {% endif %}>
                                </span>
                            </div> Mods
                          </label>
                          <label class="checkbox inline">
                            <div class="checker" id="uniform-inlineCheckbox2"><span class="checked">
                                <input type="hidden" name="clanmaps" value="0" />
                                <input type="checkbox" name="clanmaps" id="inlineCheckbox2" value="1"
                                       style="opacity: 0;"
                                        {% if clanmaps %} checked="checked" {% endif %}>
                            </span>
                            </div> Maps
                          </label>
                            <label class="checkbox inline">
                              <div class="checker" id="uniform-inlineCheckbox2"><span class="checked">
                                  <input type="hidden" name="clancountries" value="0" />
                                  <input type="checkbox" name="clancountries" id="inlineCheckbox2" value="1"
                                          {% if clancountries %} checked="checked" {% endif %}
                                         style="opacity: 0;">
                              </span>
                              </div> Countries
                            </label>
                            <label class="checkbox inline">
                              <div class="checker" id="uniform-inlineCheckbox3">
                                  <span class="checked">
                                      <input type="hidden" name="clanhours" value="0" />
                                      <input type="checkbox" name="clanhours" id="inlineCheckbox3" value="1"
                                              {% if clanhours %} checked="checked" {% endif %}
                                             style="opacity: 0;">
                                  </span></div> Hours
                            </label>
                            <label class="checkbox inline">
                              <div class="checker" id="uniform-inlineCheckbox3">
                                  <span class="checked">
                                      <input type="hidden" name="clandays" value="0" />
                                      <input type="checkbox" name="clandays" id="inlineCheckbox3" value="1"
                                              {% if clandays %} checked="checked" {% endif %}
                                             style="opacity: 0;">
                                  </span></div> Days
                            </label>
                        </div>
                      </div>

                    <div class="control-group">
                        <label class="control-label">Players</label>
                        <div class="controls">
                            <label class="checkbox inline">
                              <div class="checker" id="uniform-inlineCheckbox1">
                                  <span class="checked">
                                      <input type="hidden" name="clanplayers" value="0" />
                                     <input type="checkbox" name="clanplayers" id="inlineCheckbox1" value="1"
                                             {% if clanplayers %} checked="checked" {% endif %}
                                            style="opacity: 0;">
                                  </span>
                              </div> Display the list of players
                            </label>
                        </div>
                    </div>

                    <div class="form-actions">
                      <button type="submit" class="btn btn-primary">Save changes</button>
                      <button type="reset" class="btn">Cancel</button>
                    </div>
                  </fieldset>
                </form>
                {% else %}
                <div class="alert alert-error">
                    <strong>Access denied !</strong> You must be logged in to acces this information {{ logged }}
                </div>
                {% endif %}
            </div>
        </div><!--/span-->
    </div>
</div>

{% include 'footer.twig' %}