{% include 'header.twig' %}

{{ navigation|raw }}


<div id="content" class="span9">
    <div>
        <ul class="breadcrumb">
            <li>
                <h3>{{ clan }} clan page</h3>
            </li>
        </ul>
    </div>

    {% if clantxt %}
    <div class="well">
        {{ clantxt }}
    </div>
    {% endif %}

    <div class="row">
			{{ players|raw }}

			{{ countries|raw }}
			{{ mods|raw }}
			{{ maps|raw }}
	</div>

	<br/>
	<div style="clear:both;"><br/>
	Do you like {{ clan }} ?
	<div class="fb-like" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
	<div class="g-plusone" data-size="medium" data-annotation="none"></div>
	</div>
    <br/>
    <br/>

    <form action="https://www.google.com/search" method="get" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="focusedInput">Find this clan online :</label>
            <div class="controls">
                <input class="input-xlarge focused" type="text" name="q" value="teeworlds {{ clan }} clan">
                <button type="submit" class="btn">Search on google</button>
            </div>
        </div>
    </form>

	{{ hours|raw }}
	{{ days|raw }}
</div>

{% include 'footer.twig' %}