<script>console.log({{ _context | json_encode | raw }});</script>

<!-- Page Header-->
<div class="page-header no-margin-bottom">
    <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">{{ clan }}'s clan page</h2>
    </div>
</div>
<section class="section-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="messages-block block">
                    <div class="title"><strong>Players</strong></div>
                    <div class="messages pre-scrollable">
                        {% for player in players %}
                            <a href="{{ player.url|raw }}" class="message d-flex align-items-center">
                                <div class="profile"><img src="/images/user.png" alt="{{ player.name|raw }}"
                                                          class="img-fluid">
                                    <div class="status {%  if player.online == "1" %}online{% else %}offline{% endif %}"></div>
                                </div>
                                <div class="content">
                                    <strong class="d-block">{{ player.name|raw }}</strong>
                                    <span class="d-block">{{ clan|raw }} </span>
                                    <small class="date d-block">{{ player.lastseen|raw }}</small>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="line-chart block chart">
                    <div class="title"><strong>{{ clan|raw }}'s online probability</strong></div>
                    <canvas id="onlineLineChartDays"></canvas>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="line-chart block chart">
                    <div class="title"><strong>{{ clan|raw }}'s online probability per day</strong></div>
                    <canvas id="onlineLineChartHours"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="radar-chart chart block">
                    <div class="title"><strong>{{ clan|raw }}'s most played mods</strong></div>
                    <div class="radar-chart chart margin-bottom-sm">
                        <canvas id="playedModsChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="radar-chart chart block">
                    <div class="title"><strong>{{ clan|raw }}'s most played maps</strong></div>
                    <div class="radar-chart chart margin-bottom-sm">
                        <canvas id="playedMapsChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {

        'use strict';

        Chart.defaults.global.defaultFontColor = '#75787c';

        // ------------------------------------------------------- //
        // Online probability days
        // ------------------------------------------------------ //
        new Chart($('#onlineLineChartDays'), {
            type: 'line',
            options: {
                legend: {
                    labels: {
                        fontColor: "#777",
                        fontSize: 12
                    }
                },
                scales: {
                    xAxes: [{
                        display: false,
                        gridLines: {
                            color: 'transparent'
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            max: 100,
                            min: 0
                        },
                        display: true,
                        gridLines: {
                            color: 'transparent'
                        }
                    }]
                },
            },
            data: {
                labels: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
                datasets: [
                    {
                        label: "Weekday Online Probability",
                        fill: true,
                        lineTension: 0.2,
                        backgroundColor: "rgba(134, 77, 217, 0.88)",
                        borderColor: "rgba(134, 77, 217, 088)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        borderWidth: 1,
                        pointBorderColor: "rgba(134, 77, 217, 0.88)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(134, 77, 217, 0.88)",
                        pointHoverBorderColor: "rgba(134, 77, 217, 0.88)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 1,
                        pointHitRadius: 10,
                        data: {{ days|json_encode|raw }},
                        spanGaps: false
                    }
                ]
            }
        });

        // ------------------------------------------------------- //
        // Online probability hours
        // ------------------------------------------------------ //
        new Chart($('#onlineLineChartHours'), {
            type: 'line',
            options: {
                legend: {
                    labels: {
                        fontColor: "#777",
                        fontSize: 12
                    }
                },
                scales: {
                    xAxes: [{
                        display: false,
                        gridLines: {
                            color: 'transparent'
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            max: 100,
                            min: 0
                        },
                        display: true,
                        gridLines: {
                            color: 'transparent'
                        }
                    }]
                },
            },
            data: {
                labels: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23"],
                datasets: [
                    {
                        label: "Weekday Online Probability",
                        fill: true,
                        lineTension: 0.2,
                        backgroundColor: "rgba(134, 77, 217, 0.88)",
                        borderColor: "rgba(134, 77, 217, 088)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        borderWidth: 1,
                        pointBorderColor: "rgba(134, 77, 217, 0.88)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(134, 77, 217, 0.88)",
                        pointHoverBorderColor: "rgba(134, 77, 217, 0.88)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 1,
                        pointHitRadius: 10,
                        data: {{ hours|json_encode|raw }},
                        spanGaps: false
                    }
                ]
            }
        });

        let playedMods = $('#playedModsChart');
        {% if modNames|length >= 3 %}
        // ------------------------------------------------------- //
        // Played mods radar chart
        // ------------------------------------------------------ //
        new Chart(playedMods, {
            type: 'radar',
            options: {
                scale: {
                    gridLines: {
                        color: '#3f4145'
                    },
                    ticks: {
                        beginAtZero: true,
                        min: 0,
                        max: {{ modHighestValue|json_encode|raw }},
                        stepSize: 20
                    },
                    pointLabels: {
                        fontSize: 12
                    }
                },
                legend: {
                    position: 'left'
                }
            },
            data: {
                labels: {{ modNames|json_encode|raw }},
                datasets: [
                    {
                        label: "Played mods",
                        backgroundColor: "rgba(113, 39, 172, 0.4)",
                        borderWidth: 2,
                        borderColor: "#7127AC",
                        pointBackgroundColor: "#7127AC",
                        pointBorderColor: "#fff",
                        pointHoverBackgroundColor: "#fff",
                        pointHoverBorderColor: "#7127AC",
                        data: {{ modValues|json_encode|raw }}
                    }
                ]
            }
        });
        {% else %}
        // ------------------------------------------------------- //
        // Played mods pie chart for less than 3 played mods
        // ------------------------------------------------------ //
        new Chart(playedMods, {
            type: 'pie',
            options: {
                legend: {
                    display: true,
                    position: "left"
                }
            },
            data: {
                labels: {{ modNames|json_encode|raw }},
                datasets: [
                    {
                        data: {{ modValues|json_encode|raw }},
                        borderWidth: 0,
                        backgroundColor: [
                            '#723ac3',
                            "#864DD9",
                            "#9762e6",
                        ],
                        hoverBackgroundColor: [
                            '#723ac3',
                            "#864DD9",
                            "#9762e6",
                        ]
                    }]
            }
        });
        {% endif %}


        let playedMaps = $('#playedMapsChart');
        {% if mapNames|length >= 3 %}
        // ------------------------------------------------------- //
        // Played maps radar chart
        // ------------------------------------------------------ //
        new Chart(playedMaps, {
            type: 'radar',
            options: {
                scale: {
                    gridLines: {
                        color: '#3f4145'
                    },
                    ticks: {
                        beginAtZero: true,
                        min: 0,
                        max: {{ mapHighestValue|json_encode|raw }},
                        stepSize: 20
                    },
                    pointLabels: {
                        fontSize: 12
                    }
                },
                legend: {
                    position: 'left'
                }
            },
            data: {
                labels: {{ mapNames|json_encode|raw }},
                datasets: [
                    {
                        label: "Played mods",
                        backgroundColor: "rgba(113, 39, 172, 0.4)",
                        borderWidth: 2,
                        borderColor: "#7127AC",
                        pointBackgroundColor: "#7127AC",
                        pointBorderColor: "#fff",
                        pointHoverBackgroundColor: "#fff",
                        pointHoverBorderColor: "#7127AC",
                        data: {{ mapValues|json_encode|raw }}
                    }
                ]
            }
        });
        {% else %}
        // ------------------------------------------------------- //
        // Played maps pie chart for less than 3 played maps
        // ------------------------------------------------------ //
        new Chart(playedMaps, {
            type: 'pie',
            options: {
                legend: {
                    display: true,
                    position: "left"
                }
            },
            data: {
                labels: {{ mapNames|json_encode|raw }},
                datasets: [
                    {
                        data: {{ mapValues|json_encode|raw }},
                        borderWidth: 0,
                        backgroundColor: [
                            '#723ac3',
                            "#864DD9",
                            "#9762e6",
                        ],
                        hoverBackgroundColor: [
                            '#723ac3',
                            "#864DD9",
                            "#9762e6",
                        ]
                    }]
            }
        });
        {% endif %}

    });

</script>
