<div class="box span4">
    <div class="box-header well" data-original-title="">
        <h2><i class="icon-edit"></i> {{ title }}</h2>
    </div>
    <div class="box-content">

        <ul class="dashboard-list">
            {% for player in players %}
            <li>
                <a href="{{ player.url }}">
                    <img class="dashboard-avatar" alt="{{ player.name }}" src="/images/user.png">
                </a>
                <a href="{{ player.url }}">{{ player.name }}</a><br>
                {% if player.online %}
                <span class="label label-success">Online</span><br><br>
                {% else %}
                <span class="label label-important">Offline</span><br>
                 since {{ player.lastseen }}<br>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

